@tailwind base;
@tailwind components;
@tailwind utilities;

/* small custom spacing or body reset */
html, body, #__next {
  height: 100%;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.prose img { border-radius: 6px; }
